<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
      <form class="comment-form" action="/blogs/:id/comments" method="POST">
        <label for="comment">Comments:</label>
        <input type="text" id="comment" name="comment" >
        <button class="submit-comment">Submit</button>
      </form>
      <div class="sort-by">
        Sort
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="comments-container">
        <% comments.forEach((comment) =>{ %>
          <div class="comment each-comment">
            <div class="info">
              <h3 class="comment-text"><%= comment.blog_comment %></h3>
             <b><span><%= comment.user_nickname %> : </span></b>
              <span><%= new Date(comment.createdAt).toLocaleString('en-us',{ year: 'numeric', month: 'long', day: 'numeric', hour : 'numeric', minute : 'numeric'}) %></span>
            </div>
            <div>
              <a class="delete-comment" data-comment="<%= comment._id %>" data-blog="<%= comment.blog_id %>">
                <img src="/delete.svg" alt="delete icon">
              </a>
            </div>
          </div>
        <% }); %>
      </div>
      <a class="delete" data-doc="<%= blog._id %>">
        <img src="/delete.svg" alt="delete icon">
      </a>
    </div>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script src="../../js/details.js"></script>
</body>
</html>